<!DOCTYPE html>
<html>
  <head>
    <title>Jill Orlov | Custom Furniture</title>
    <meta name="description" content="Jill Orlov | Custom Furniture">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2FdropforgedGray.png?1494551619973" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat" rel="stylesheet">
  </head>
  <body>
    <header>
          <img src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2Flogo-wire-brushed_170x50.jpg?1494551669727" />
              <wrapper class="dropdown" >
           <div class="linkFlex">
              <a href="https://important-mole.glitch.me/">PORTFOLIO</a>
                <div class="dropdown-content">      
                  <div class="spacer"> </div>
                   <a class="subhed">FURNISHed Furniture</a>
                  <a class="subhed">Miniature Roomboxes</a>
                  <a class="subhed">SIGNed Furniture</a>
               </div>
            </div>
            <div class="linkFlex">
              <a class="dropbtn" href="https://married-sprout.glitch.me/">SHOWS &amp; NEWS</a>
                <div class="dropdown-content">
                  <div class="spacer"></div>
                  <a href="#">Gallery Shows</a>
                  <a href="#">Fine Craft &amp; Art Fairs</a>
                  <a href="https://brick-ashtray.glitch.me/">Awards &amp; Publicity</a>
                 </div>
            </div>
            <div class="linkFlex"><a href="https://workable-prepared.glitch.me/">ABOUT THE ARTIST</a></div>
            <div class="linkFlex"><a href="https://familiar-meteorology.glitch.me/">CONTACT</a></div>
          </wrapper>
      </header>
    
  <main>
    <div id="carousel">
      <span class="previous">&lsaquo;</span>
      <div class="minimalistSlideshow">
      	<figure class="show bigFlex">
      		<img src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2FJuliaCarouselBigger.jpg?1502388980753" /><figcaption>CONTAINED: Roomboxes</figcaption>
      	</figure>
        <figure class="bigFlex">
      		<img src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2FBradyCarouselBigger.jpg?1502388521221"  /><figcaption>CONTAINED: Roomboxes</figcaption>
      	</figure>
        <figure class="bigFlex">
          <img src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2FofficeTableFullCarousel.jpg?1502390556941"  /><figcaption>FURNISHED Furniture</figcaption>
        </figure>
        <figure class="bigFlex">
          <img src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2FofficeDetailCarousel.jpg?1502389879437" /><figcaption>FURNISHED Furniture</figcaption>
        </figure>
        <figure class="bigFlex">
          <img src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2FEATcartCarouselBigger.jpg?1502389875835"  /><figcaption>SIGNED Furniture</figcaption>
      	</figure>
       
      	
      </div>
      <span class="next">&rsaquo;</span>
    </div>
    
       <!-- <div id="dividerFlex">
         <hr class="divider">
         <p class="doodad">&#167;</p>
        </div>  -->
    
    <div id="secondRow">
      <a href="https://important-mole.glitch.me/">
      <div id="collections">
          <h2>COLLECTIONS</h2>
        <img class="imgResponsive" src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2FcollectionsImg.jpg?1495147348294">
      </div>
      </a>
      <div>
        
      </div>
      <a href="#">
      <div id="shows">
          <h2>SHOWS</h2>
        <img class="imgResponsive" src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2FthoseDays2.jpg?1495147340621" >
      </div>
        </a>
      <div>
        
      </div>
      <a href="#">
      <div id="publicity">
        <h2>PUBLICITY</h2>
        <img class="imgResponsive" src="https://cdn.glitch.com/2b33245d-e399-4f15-a48b-03366927fa78%2Fpublicity2.jpg?1495147333197" >
      </div>
    </a>
    </div>
    
</main>
    <footer>
  <p>Content &copy;2017 Jill Orlov</p>
  <div id="designedBy">
  <p id="nopipe"> Designed &amp; built by Michelle Gienow      </p>
<p><a href="http://madewithloveinbaltimore.org">  Made with &hearts; in Baltimore</a></p>
</div>
</footer>
<script src="/client.js"></script>
</body>
</html>
